header {
    background-color: rgba(252, 227, 144, 1);
}

#produtos{
    background-color: rgba(236, 164, 250, 1);
    height: 50px;
}
#parceiros{
    background-color: rgba(117, 226, 226, 1);
    height: 50px;
}
#historia{
    background-color: rgba(240, 146, 190, 1);
    height: 50px;
}
#cadastro{
    background-color: rgba(169, 169, 241, 1);
    height: 50px;
}

#logotipo{
    height: 50px;
}