header {
    background-color: rgb(92, 85, 85);
}

#produtos{
    background-color: rgb(111, 5, 133);
    height: 50px;
}
#parceiros{
    background-color: rgb(23, 167, 167);
    height: 50px;
}
#historia{
    background-color: rgb(212, 15, 114);
    height: 50px;
}
#cadastro{
    background-color: rgb(8, 8, 94);
    height: 50px;
}